<main class="grid grid-cols-12 justify-center">

  <div class="col-span-3">
    <app-sidebar></app-sidebar>
  </div>

  <div class="main-content w-full flex flex-wrap justify-center items-start col-span-9" >

    <div class="flex flex-wrap justify-between w-full">

      <h1 class="w-fit font-bold text-3xl">Lista de Departamentos</h1>

      <button routerLink="/departamentosForm" class="p-10 text-lg bg-yellow-400">
        Agregar departamento
      </button>

    </div>

    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre del Departamento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let departamento of departamentos">
            <td *ngIf="departamento.deleted_at == null">{{ departamento.id}}</td>
            <td *ngIf="departamento.deleted_at == null">{{ departamento.nombredepartamento }}</td>
            <td *ngIf="departamento.deleted_at == null">
              <button (click)="editarDepartamento(departamento.id, departamento.nombredepartamento)" class="bg-yellow-400">Editar</button>
              <button (click)="deleteDepartamento(departamento.id)" class="bg-red-500 text-white">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>



</main>
