.main-content {
    padding: 20px;
    background-color: #f4f7fc;
    height: 100%;
    margin-left: 300px;
    transition: margin-left 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
  }