<div class="main-content">
  <div class="header">
    <h2>Lista de Categorías</h2>
    <button routerLink="/categoriaForm" class="add-btn">Agregar Categoría</button>
  </div>
  
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>

      <!-- Aqui aniadi la directiva ngIf para ocultar la categoria en caso de que haya sido eliminada -->
      <tr *ngFor="let categoria of categorias">
        <td *ngIf="categoria.deleted_at == null">{{ categoria.id }}</td>
        <td *ngIf="categoria.deleted_at == null">{{ categoria.nombrecategoria }}</td>
        <td *ngIf="categoria.deleted_at == null">{{ categoria.descripcion }}</td>
        <td class="actions" *ngIf="categoria.deleted_at == null">
          <button [routerLink]="['/categoriaForm', categoria.id]" class="edit-btn" *ngIf="categoria.deleted_at == null">Editar</button>
          <button (click)="eliminarCategoria(categoria.id)" class="delete-btn" *ngIf="categoria.deleted_at == null">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-sidebar></app-sidebar>
