<div class="main-content">
<h2>{{ id ? 'Editar' : 'Nueva' }} Categoría</h2>
<form [formGroup]="categoriaForm" (ngSubmit)="guardarCategoria()">
    <label>Nombre:</label>
    <input type="text" formControlName="nombreCategoria" required>
  <label>Descripción:</label>
  <textarea formControlName="descripcion" required></textarea>

  <button type="submit">Guardar</button>
  <button type="button">
    <a routerLink="/categorias">Cancelar</a>
  </button>
  </form>
</div>
  <app-sidebar></app-sidebar>