<div class="main-content">
  <h2>{{ id ? 'Editar' : 'Nueva' }} Categoría</h2>
  <form [formGroup]="categoriaForm" (ngSubmit)="guardarCategoria()">
      <label>Nombre:</label>
      <!-- cambie el nombre del input para que no haya conflicto con el nombre del campo en la bd -->
      <input type="text" formControlName="nombrecategoria" required> 
    <label>Descripción:</label>
    <textarea formControlName="descripcion" required></textarea>
  
    <button type="submit">Guardar</button>
    <button type="button">
      <a routerLink="/categorias">Cancelar</a>
    </button>
    </form>
  </div>
    <app-sidebar></app-sidebar>