<main class="grid grid-cols-12 justify-center">

  <div class="col-span-3">
    <app-sidebar></app-sidebar>
  </div>

  <div class="main-content col-span-9 h-min-screen flex justify-center">
    <form [formGroup]="categoriaForm" (ngSubmit)="guardarCategoria()">
      <h2>{{ id ? 'Editar' : 'Nueva' }} Categoría</h2>
      
      <label>Nombre:</label>
      <input type="text" formControlName="nombrecategoria" required>
      
      <label>Descripción:</label>
      <textarea formControlName="descripcion" required></textarea>
      
      <button class="save">Guardar</button>
      <button class="cancel">
        <a routerLink="/categorias">Cancelar</a>
      </button>
    </form>
  </div>
  

</main>

