<div class="sidebar">
    <ul>
        <li class="sidebar-section">
            <h3>Inicio</h3>
            <ul>
                <li routerLink="/dashboard" class="sidebar-link"><i class="fas fa-home"></i> Dashboard</li>
            </ul>
        </li>
        <!--
        <li class="sidebar-section">
            <h3>Gestión</h3>
            <ul>
                <li routerLink="/managementuser" class="sidebar-link"><i class="fas fa-users"></i> Gestión de Usuarios
                </li>
                <li routerLink="/managementproduct" class="sidebar-link"><i class="fas fa-box"></i> Gestión de Productos
                </li>
                <li routerLink="/managementpedidos" class="sidebar-link"><i class="fas fa-shopping-cart"></i> Gestión de
                    Pedidos</li>
            </ul>
        </li>
        <li class="sidebar-section">
            <h3>Otro</h3>
            <ul>
                <li routerLink="/registro-usuarios" class="sidebar-link"><i class="fas fa-user-plus"></i> Registro de
                    Usuarios</li>
                <li routerLink="/registro-productos" class="sidebar-link"><i class="fas fa-plus-circle"></i> Registro de
                    Productos</li>
                <li routerLink="/catalogo-usuarios" class="sidebar-link"><i class="fas fa-address-book"></i> Catálogo de
                    Usuarios</li>
                <li routerLink="/catalogo-productos" class="sidebar-link"><i class="fas fa-th-list"></i> Catálogo de
                    Productos</li>
                <li routerLink="/catalogo-pedidos" class="sidebar-link"><i class="fas fa-list"></i> Catálogo de Pedidos
                </li>
            </ul>
        </li>-->

        <li class="sidebar-section">
            <ul class="sidebar-menu">
                <li class="menu-title">Gestión de Productos</li>
                <li routerLink="/categoriaForm" class="sidebar-link"><i class="fas fa-tags"></i> Registro Categoría</li>
                <li routerLink="/categoriaList" class="sidebar-link"><i class="fas fa-list-alt"></i>Gestión Categoría</li>
                <li routerLink="/marcaForm" class="sidebar-link"><i class="fas fa-copyright"></i> Registro Marca</li>
                <li routerLink="/marcaList" class="sidebar-link"><i class="fas fa-list-alt"></i> Gestión Marca</li>
            </ul> 
            <ul>
                <li class="menu-title">Gestión de Ventas y Cotizaciones</li>
                <li routerLink="/ventasForm" class="sidebar-link"><i class="fas fa-shopping-cart"></i> Registro Ventas</li>
                <li routerLink="/cotizacionForm" class="sidebar-link"><i class="fas fa-file-invoice"></i> Registro Cotización</li>
                <li routerLink="/cotizacionList" class="sidebar-link"><i class="fas fa-list-ol"></i> Gestión Cotización</li>
            </ul>
            <ul>
                <li class="menu-title">Gestión de Departamentos y Servicios</li>
                <li routerLink="/departamentosForm" class="sidebar-link"><i class="fas fa-building"></i> Registro Departamento</li>
                <li routerLink="/departamentosList" class="sidebar-link"><i class="fas fa-list-alt"></i> Gestión Departamento</li>
                <li routerLink="/servicioForm" class="sidebar-link"><i class="fas fa-tools"></i> Registro Servicio</li>
                <li routerLink="/servicioList" class="sidebar-link"><i class="fas fa-list-alt"></i> Gestión Servicio</li>
            </ul>
            <ul>
                <li class="menu-title">Administración de Usuarios</li>
                <li routerLink="/usuarioForm" class="sidebar-link"><i class="fas fa-user-plus"></i> Registro Usuario</li>
                <li routerLink="/usuarioList" class="sidebar-link"><i class="fas fa-users"></i> Gestión Usuario</li>
                <li routerLink="/rolesForm" class="sidebar-link"><i class="fas fa-user-shield"></i> Registro Roles</li>
                <li routerLink="/rolesList" class="sidebar-link"><i class="fas fa-user-tag"></i> Gestión Roles</li>
            </ul>
            
            <ul>
                <li class="menu-title">Administración de Clientes</li>
                <li routerLink="/clientesForm" class="sidebar-link"><i class="fas fa-user-plus"></i> Registro Cliente</li>
                <li routerLink="/clientesList" class="sidebar-link"><i class="fas fa-users"></i> Gestionar Clientes</li>
                <!-- <li routerLink="/rolesForm" class="sidebar-link"><i class="fas fa-user-shield"></i> Registro Roles</li>
                <li routerLink="/rolesList" class="sidebar-link"><i class="fas fa-user-tag"></i> Gestión Roles</li> -->
            </ul>
        </li>
    </ul>
</div>