<div class="sidebar">
    <ul>
        <li class="sidebar-section">
            <h3>Inicio</h3>
            <ul>
                <li routerLink="/dashboard" class="sidebar-link"><i class="fas fa-home"></i> Dashboard</li>
            </ul>
        </li>
        <li class="sidebar-section">
            <h3>Gestión</h3>
            <ul>
                <li routerLink="/managementuser" class="sidebar-link"><i class="fas fa-users"></i> Gestión de Usuarios
                </li>
                <li routerLink="/managementproduct" class="sidebar-link"><i class="fas fa-box"></i> Gestión de Productos
                </li>
                <li routerLink="/managementpedidos" class="sidebar-link"><i class="fas fa-shopping-cart"></i> Gestión de
                    Pedidos</li>
            </ul>
        </li>
        <li class="sidebar-section">
            <h3>Otro</h3>
            <ul>
                <li routerLink="/registro-usuarios" class="sidebar-link"><i class="fas fa-user-plus"></i> Registro de
                    Usuarios</li>
                <li routerLink="/registro-productos" class="sidebar-link"><i class="fas fa-plus-circle"></i> Registro de
                    Productos</li>
                <li routerLink="/catalogo-usuarios" class="sidebar-link"><i class="fas fa-address-book"></i> Catálogo de
                    Usuarios</li>
                <li routerLink="/catalogo-productos" class="sidebar-link"><i class="fas fa-th-list"></i> Catálogo de
                    Productos</li>
                <li routerLink="/catalogo-pedidos" class="sidebar-link"><i class="fas fa-list"></i> Catálogo de Pedidos
                </li>
            </ul>
        </li>

        <li class="sidebar-section">
            <h3>Nuevo panel</h3>
            <ul>
                <li routerLink="/categoriaForm" class="sidebar-link"><i class="fas fa-user-plus"></i>Categoria form</li>
                <li routerLink="/categoriaList" class="sidebar-link"><i class="fas fa-plus-circle"></i>Categoria list</li>
                <li routerLink="/cotizacionForm" class="sidebar-link"><i class="fas fa-address-book"></i> Cotizacion form</li>
                <li routerLink="/cotizacionList" class="sidebar-link"><i class="fas fa-th-list"></i> Cotizacion list</li>
                <li routerLink="/departamentosForm" class="sidebar-link"><i class="fas fa-address-book"></i> Departamentos form</li>
                <li routerLink="/departamentosList" class="sidebar-link"><i class="fas fa-th-list"></i> Departamentos list</li>
                <li routerLink="/marcaForm" class="sidebar-link"><i class="fas fa-address-book"></i> Marca form</li>
                <li routerLink="/marcaList" class="sidebar-link"><i class="fas fa-th-list"></i> Marca list</li>
                <li routerLink="/rolesForm" class="sidebar-link"><i class="fas fa-address-book"></i> Roles form</li>
                <li routerLink="/rolesList" class="sidebar-link"><i class="fas fa-th-list"></i> Roles list</li>

         
            </ul>
        </li>
    </ul>
</div>