<main class="grid grid-cols-12 justify-center">

  <div class=" bg-red-300 col-span-3">
    <app-sidebar class=""></app-sidebar>
  </div>

  <div class="main-content col-span-9">
    <div class="content-wrapper">

      <!--Seccion del navbar-->
      <div class="color-nav">
          <nav class="navbar">
              <div class="logo">VANGUARD</div>
              <div class="nav-icons">
                  <!-- <div class="notification"><i class="fas fa-exclamation-triangle"></i><span class="badge">7</span></div>
                  <div class="notification"><i class="fas fa-bell"></i></div>
                  <div class="notification"><i class="fas fa-envelope"></i></div> -->
                  <div class="user-info">Admin <span class="username">Dani</span></div>
              </div>
          </nav>
          <div class="dashboard-content">
              <div class="card"><p>Ventas</p> <h2>{{pedidoos.length}}</h2> </div>
              <div class="card"> <p>Pedidos</p> <h2>{{pedidoos.length}}</h2></div>
              <!-- <div class="card highlight"> <p>Tickets</p> <h2>657</h2> <span class="badge-percent">+18%</span> </div> -->
              <!-- <div class="card highlight"> <p>Alertas</p> <h2>345</h2> <span class="badge-percent">+24%</span> </div> -->
          </div>
      </div>

      <!--otraseccion-->
      <div class="dashboard-container">
          <div class="orders-section">
            <h3>Órdenes</h3>
            <div class="order-card" *ngFor="let pedido of pedidoos">
              <img src="service1.jpg" alt="Product Image" class="order-img" />
              <div class="order-details">
                <h4>{{ pedido.nombreCliente }}</h4>
                <p>{{ pedido.estado }}</p>
                <small>{{ pedido.fecha }}</small>
              </div>
            </div>
          </div>
        
          <div class="activity-section">
            <h3>Actividad</h3>
            <div class="activity-card" *ngFor="let pedido of pedidoos">
              <img src="profile.png" alt="User Avatar" class="avatar" />
              <div class="activity-details">
                <h4>{{ pedido.nombreCliente }}</h4>
                <small>{{ pedido.total }}</small>
                <br>
                <!-- <p>{{ payment.description }}</p> -->
                <span class="status" [ngClass]="{'sent': pedido.estado.includes('Pendiente'), 'paid': pedido.estado.includes('realizado')}">
                  {{ pedido.estado }}
                </span>
              </div>
            </div>
          </div>
        
          <!-- <div class="transactions-section">
            <h3>Transacciones</h3>
            <div class="transaction-card" *ngFor="let transaction of transactions">

              <div class="transaction-details">
                <h4>{{ transaction.title }}</h4>
                <p>{{ transaction.description }}</p>
              </div>
              <span class="transaction-amount" [ngClass]="transaction.amount > 0 ? 'positive' : 'negative'">
                {{ transaction.amount | currency:'USD' }}
              </span>
            </div>
          </div> -->
        </div>          
      
        <div class="orders-container">
          <h2>Pedidos</h2>
          <table>
            <thead>
              <tr>
                <th>Cliente</th>
                <th>Producto</th>
                <th>ID de Usuario</th>
                <th>Fecha de Pedido</th>
                <th>Monto</th>
                <th>Estado de Pago</th>
                <th>Estado del Pedido</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pedido of pedidoos">
                <td>
                  <img src="profile.png" [alt]="pedido.nombreCliente">
                  {{ pedido.nombreCliente }}
                </td>
                <td>
                  <img src="service1.jpg" >
                  <!-- {{ pedido.productoNombre }} -->
                </td>
                <td>{{ pedido.idcliente }}</td>
                <td>{{ pedido.fecha }}</td>
                <td>{{ pedido.total | currency }}</td>
                <td [ngClass]="pedido.estado">{{ pedido.estado }}</td>
                <td [ngClass]="pedido.estado">{{ pedido.estado }}</td>
              </tr>
            </tbody>
          </table>
        </div>
  </div>

  </div>


  
  
</main>