<div class="main-content">
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Fecha</th>
            <th>Estatus</th>
            <th>Forma de Pago</th>
            <th>Cliente</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cotizacion of cotizaciones">
            <td>{{ cotizacion.id }}</td>
            <td>{{ cotizacion.descripcion }}</td>
            <td>{{ cotizacion.precio }}</td>
            <td>{{ cotizacion.fecha }}</td>
            <td>{{ cotizacion.estatus }}</td>
            <td>{{ cotizacion.formaPago }}</td>
            <td>{{ cotizacion.idCliente }}</td>
            <td>
              <button (click)="editarCotizacion(cotizacion.id)">Editar</button>
              <button (click)="eliminarCotizacion(cotizacion.id)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
<app-sidebar></app-sidebar>