<div class="login-container">
    <div class="left-panel">
        <img src="https://raw.githubusercontent.com/jrvrr/DESARROLLO-MOVIL-MULTIPLATAFORMA/main/src/assets/icon/logo.vanguard.png"
            alt="Logo" class="logo" />
        <p>Un gusto tenerte de vuelta, echa un vistazo a todo lo que tenemos para ti.</p>
    </div>
    <div class="right-panel">
        <h2>Inicia sesión</h2>
        <p>Nos alegramos de tenerte de vuelta.</p>

        <form>
            <input type="text" placeholder="Nombre usuario" />
            <input type="password" placeholder="Contraseña" />
            <div class="options">
                <label class="left"><input type="checkbox" /> Acuérdate de mí</label>
                <a class="right" href="#">Olvidé mi contraseña</a>
            </div>
            <button type="submit" class="btn-primary">Acceder</button>
        </form>

        <p class="register-link">¿No tienes una cuenta? <a href="register">Regístrate</a></p>
    </div>
</div>