<main class="grid grid-cols-12 justify-center">

  <div class="col-span-3">
    <app-sidebar></app-sidebar>
  </div>


  <div class="main-content w-full min-h-full flex flex-wrap justify-center items-start col-span-9">
    
    <div class="w-full flex flex-wrap justify-center">

      <div class="flex flex-wrap justify-between w-full">

        <h1 class="w-fit font-bold text-3xl">Lista de Marcas</h1>

        <button class="p-10 text-lg bg-yellow-400 " routerLink="/marcaForm">
          Agregar marca
        </button>

    </div>

      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre de la Marca</th>
            <th>Acciones</th>
          </tr>
  
          </thead>
          
          <tbody>
            <tr *ngFor="let marca of marcas">
              <td *ngIf="marca.deleted_at == null">{{ marca.id }}</td>
              <td *ngIf="marca.deleted_at == null">{{ marca.nombremarca }}</td>
              <td *ngIf="marca.deleted_at == null">
                <button class="edit" routerLink="/marcaForm/{{marca.id}}/{{marca.nombremarca}}">Editar</button>
                <button class="delete" (click)="deleteMarca(marca.id)">Eliminar</button>
              </td>
            </tr>
          </tbody>
      </table>

    </div>
      
  </div>




</main>