<div class="main-content">
    <div class="container">
        <h2>{{ id ? 'Editar Servicio' : 'Crear Servicio' }}</h2>
        <form [formGroup]="servicioForm" (ngSubmit)="guardarServicio()">
          <div>
            <label for="nombreServicio">Nombre del Servicio:</label>
            <input type="text" id="nombreServicio" formControlName="nombreServicio" required />
          </div>
      
          <div>
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" formControlName="descripcion" required></textarea>
          </div>
      
          <div>
            <label for="precio">Precio:</label>
            <input type="number" id="precio" formControlName="precio" required />
          </div>
      
          <button type="submit" [disabled]="servicioForm.invalid">Guardar</button>
          <button type="button" (click)="cancelar()">Cancelar</button>
        </form>
      </div>
</div>
<app-sidebar></app-sidebar>